.p-dropdown .p-dropdown-trigger {
  width: 1.3rem !important;
  padding-right: 1rem !important;
}

.p-dropdown:focus-within {
  outline: none !important;
}

.p-dropdown {
  --tw-shadow: none !important;
  --tw-shadow-colored: none !important;
  box-shadow: none !important;
}

.p-dropdown:active {
  --tw-shadow: none !important;
  --tw-shadow-colored: none !important;
  box-shadow: none !important;
}

.p-inputtext {
  padding: 0.1rem 0.5rem !important;
}

.p-inputtext:focus {
  box-shadow: none !important;
  border: none !important;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  text-align: center !important;
}

.p-dropdown-panel {
  margin-top: 0.2rem !important;
  min-width: 27rem;
  width: 27rem;
}

@media (max-width: 768px) {
  .p-dropdown-panel {
    width: 100%;
    min-width: 100%;
  }
}

.pi-times:before {
  color: #6c757d !important;
  cursor: pointer !important;
}

.p-dropdown-items-wrapper::-webkit-scrollbar {
  width: 10px !important;
}

.p-dropdown-items-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

.p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
  background: #20a752 !important;
  border-radius: 10px !important;
}